header {
  background-color: #212121;
  padding: 20px 0;
  user-select: none;
}

.caixa {
  position: relative;
  margin: 0 auto;
  width: 940px;
}

.caixa img{
  width: 25%;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
  user-select: none;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
  user-select: none;
}

nav a {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  user-select: none;
}

nav a:hover {
  color: #a87b41;
}

nav a:active {
  color: #e89120;
}

.produtos {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
  user-select: none;
}

.produtos li {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 30%;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-top-width: 10px;
  border-radius: 10px;
}

.produtos li:hover{
  border: 2px solid #a87b41;
  border-top-width: 10px;
  border-radius: 10px;
  padding: 35px 20px;
}

.produtos li:active{
  border: 2px solid #e89120;
  border-top-width: 10px;
  border-radius: 10px;
}

.produtos h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.produto-descricao {
  font-size: 18px;
  margin: 0 0 10px 0;
}

.produto-preco {
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

footer{
  font: italic 10px/1.5 Georgia, serif;
  color: white;
  background-color: #212121;
  background: url("icons/bg.jpg");
  width: auto;
  padding: 10px 0;
  text-align: center;
  user-select: none;
}

footer img{
  width: 14%;
}

main {
  width: 940px;
  margin: 0 auto;
}

form{
  margin: 40px 0;
}

form label{
  display: block;
  margin: 0 0 10px 0;
}

form input{
  
  display: block;
  width: 45%;
  padding: 10px;
  margin: 0 0 5px 0;
  border: 1px solid #000000;
  border-radius: 5px;
  text-align: center;
}

textarea{
  display: block;
  width: 45%;
  padding: 10px;
  margin: 0 0 5px 0;
  border: 1px solid #000000;
  border-radius: 5px;
  text-align: center;
}

#submit{
  display: block;
  width: 45%;
  padding: 5px;
  margin: 0 0 5px 0;
  border: 1px solid #000000;
  border-radius: 5px;
  text-align: center;
  background-color: #a87b41;
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

#submit :hover{
  background-color: #000000;
}